@import '../../fonts/fonts-templates.scss';

*{
    margin:0;
    padding:0;
}
.form-elements__body{
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
}
.form-elements__logo{
    margin-top: 30px;
    margin-left: 30px;
}
.form-elements__first-container,
.form-elements__second-container,
.form-elements__third-container{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(350px, 1fr));
    margin-left: 92px;
    margin-right: 92px;
    margin-top: 63px;
}
.form-elements__fourth-container{
    display: grid;
    grid-template-columns:  1fr 2fr;
    margin-left: 92px;
    margin-right: 92px;
}
@media screen and (max-width:1250px){
    .form-elements__fourth-container{
        
        grid-template-columns:  1fr 1fr;
       
    }
}

.form-elements__first-column{
    margin-left:auto;
    margin-right: auto;
}
.form-elements__text-field{
    margin-bottom: 20px;
}
.form-elements__dropdown{
    margin-bottom: 14px;
}
.form-elements__date-dropdown{
    margin-top: 41px;
    margin-bottom: 37px;
}
.form-elements__filter-date-dropdown{
    margin-bottom: 35px;
}
.form-elements__second-column{
    margin-left:auto;
    margin-right: auto;
}
.form-elements__checkbox-buttons{
    margin-top: 3px;
    margin-bottom: 38px;
}
.form-elements__radio-buttons{
    margin-bottom: 43px;
}
.form-elements__head{
    @extend %text-H3;
    margin-bottom: 14px;
}
.form-elements__toggle{
    
    margin-bottom: 43px;
}
.form-elements__toggle-element{
    margin-bottom: 10px;
}
.form-elements__like-buttons{
    margin-bottom: 39px;
}
.form-elements__rate-buttons-container{
    display: flex;
    justify-content: space-between;
}
.form-elements__third-column{
    
    margin-left:auto;
    margin-right: auto;
}
.form-elements__range-slider{
    margin-bottom: 44px;
}
.form-elements__button-row{
    margin-bottom: 31px;
}
.form-elements__button{
    width:fit-content;
    display: inline-block;
    margin-right: 17px;
    
}
.form-elements__pagination{
    margin-top: 42px;
    margin-bottom:20px;
}
.form-elements__dropdown-container-1{
    
    padding-right: 56px;

}
.form-elements__dropdown-container-2{
    padding-left: 54px;
}





