mixin bullet-list
  ul.bullet-list
    - var items = ['Нельзя с питомцами','Без вечиринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00']
    - var item
    each item in items 
      li.bullet-list__item=item