@import '../../fonts/fonts-templates.scss';
.bullet-list{
  max-width: 256px;
}
.bullet-list__item{
  @extend %text-Body;
  list-style-type: none;
  position: relative;
  padding-left:20px;
  margin-bottom: 10px;
}
.bullet-list__item:before{
    content:'';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25);
    position: absolute;
    left:0;
    top:6px;
    
}