@import '../../fonts/fonts-templates.scss';
.button{
    @extend %text-H3;
    cursor: pointer;
    outline: none;
    
}
.button_bright-fill {
    box-sizing: border-box;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
    border: none;
    min-width: calc-size(99);
    height: fit-content;
    border-radius: calc-size(22);
    padding-left: calc-size(17);
    padding-right: calc-size(17);
    padding-top: calc-size(15);
    padding-bottom: calc-size(15);
}
.button_small-bright-fill{
    @extend .button_bright-fill;
    min-width: calc-size(87);
    line-height: calc-size(15);
    height:fit-content;
    border-radius: calc-size(17);
    padding-top:calc-size(9);
    padding-bottom:calc-size(10);
    padding-left: calc-size(19);
    padding-right: calc-size(21);

}

.button_faint-fill {
    @extend .button_bright-fill;
    opacity: 0.5;
 
}
.button_bright-border, .button_faint-border{
    position: relative;
    border-radius: calc-size(20);
    min-width:calc-size(95);
    height: fit-content;
    background: white;
    color: #BC9CFF;
    border:none;
    padding-left: calc-size(15);
    padding-right: calc-size(15);
    padding-top: calc-size(13);
    padding-bottom: calc-size(13);
}
.button_bright-border::before, 
.button_faint-border::before {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    content: "";
    background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    z-index: -1;
    border-radius: calc-size(22);
    
}
.button_faint-border::before {
    opacity: 0.5;
   
}
.button_small-bright-border{
    @extend .button_bright-border;
    border-radius: calc-size(15);
    min-width:calc-size(81);
    height: fit-content;
    line-height: calc-size(15);
    padding-top:calc-size(7);
    padding-bottom:calc-size(8);
    padding-left: calc-size(19);
    padding-right: calc-size(18);
}


.button_bright{
    color:#BC9CFF;
    border:none;
    background-color: inherit;
}
.button_gray{
    color:rgba(31, 32, 65, 0.5);
    border:none;
    background-color: inherit;
}
.button_long{
    position: relative;
    min-width: calc-size(321);
    height: fit-content;
    line-height: calc-size(15);
    border-radius: calc-size(22);
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color:white;
    border:none;
    padding-right:calc-size(42);
    padding-left:calc-size(37);
    padding-top: calc-size(14);
    padding-bottom: calc-size(15);
   
}

.button_long::after{
    position: absolute;
    content:'';
    background: url(arrow-forward.svg) no-repeat ;
    background-position: right calc-size(13) top 50%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 10px;
    width: 10px;
   
}