.cutaway
  .cutaway__logo
    include ../logo/logo.pug
    -var colorlogo=true
    +logo
    img.cutaway__toxin(src="../components/logo/toxin.svg")
  p.cutaway__copyright Copyright © 2018 Toxin отель. Все права зачищены.
  .cutaway__icons
    img.cutaway__twitter(src="../components/footer/twitter.svg")
    img.cutaway__facebook(src="../components/footer/facebook.svg")
    img.cutaway__inst(src="../components/footer/inst.svg")