@import '../../../fonts/fonts-templates.scss';
.checkbox-buttons{
  max-width: 222px;
}
.checkbox-buttons__legend{
    @extend %text-H3;
    margin-bottom:9px;
    margin-left:4px;
    margin:0;
    padding:0;
    margin-bottom: 17px;
    
}
.checkbox-buttons__label{
  cursor: pointer;
  position: relative;
  
  @extend %text-Body;
  line-height: 18px;
  display:flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 10px;
  
}
.checkbox-buttons__input {
    position: absolute;
   z-index: -1;
    opacity: 0;
  
  
}
.checkbox-buttons__check{
  box-sizing:border-box;
  margin-right: 9px;
  display: inline-block;
  content: "";
  border: 1px solid rgba(31, 32, 65, 0.25);
 padding-right: 18px;
  width: 20px;
height: 20px;
  border-radius: 4px;
}
.checkbox-buttons__input:checked + .checkbox-buttons__check {
    border: 1px solid #BC9CFF;
    background: url(checked.svg) no-repeat center;
}

