@import '../../fonts/fonts-templates.scss';
.room-search{
    box-sizing: border-box;
    max-width: 380px;
    background: white;
    padding-top: 24px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 29px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
}
@media screen and (max-width:1440px){
    .room-search{
     
        max-width: calc( 380px * 0.8 + (380 - 380 * 0.8) * (100vw - 320px) / (1440 - 320) );
        padding-top: calc( 24px * 0.8 + (24 - 24 * 0.8) * (100vw - 320px) / (1440 - 320) );
        padding-left: calc( 28px * 0.8 + (28 - 28 * 0.8) * (100vw - 320px) / (1440 - 320) );
        padding-right: calc( 28px * 0.8 + (28 - 28 * 0.8) * (100vw - 320px) / (1440 - 320) );
        padding-bottom: calc( 28px * 0.8 + (28 - 28 * 0.8) * (100vw - 320px) / (1440 - 320) );
        
    }
}
.room-search__head{
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 19px;
    color: #1F2041;
}
@media screen and (max-width:1440px){
    .room-search__head{
        
        font-size: calc( 26px * 0.8 + (26 - 26 * 0.8) * (100vw - 320px) / (1440 - 320) );
       
        line-height: calc( 30px * 0.8 + (30 - 30 * 0.8) * (100vw - 320px) / (1440 - 320) );
        
        
    }
}
.room-search__dates{
    position: relative;
    z-index:2 ;
}
.room-search__guests-container{
    position: relative;
    z-index: 1;
    margin-top: 21px;
    margin-bottom: 32px;
}
@media screen and (max-width:1440px){
    .room-search__head{
        
        margin-top: calc( 21px * 0.8 + (21 - 21 * 0.8) * (100vw - 320px) / (1440 - 320) );
       
        margin-bottom: calc( 32px * 0.8 + (32 - 32 * 0.8) * (100vw - 320px) / (1440 - 320) );
        
        
    }
}