html {
  font-size: 14px;
}
@function calc-size($value){
  @return ($value/14)*1rem;
}
@media screen and (max-width: 1440px) {
  html {
    font-size: calc( 14px *0.8 + (14 - 14*0.8) * (100vw - 320px) / (1440 - 320) );
  }
}
%text-H1 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size:calc-size(24);
    line-height: calc-size(30);
   
  }
  %text-H2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc-size(19);
    line-height: calc-size(24);
  }
  %text-H3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc-size(12);
    line-height: calc-size(15);
    text-transform: uppercase;
  
  }
  %text-Body {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: calc-size(14);
    line-height: calc-size(24);
  
  }
 