mixin logo
  if colorlogo
    div.logo.logo_color
      img.logo__left-wing.logo__left-wing_color(src="img/logo__bright-left-wing.svg")
      img.logo__right-wing.logo__right-wing_color(src="img/logo__bright-right-wing.svg")
  else
    div.logo
      img.logo__left-wing(src="img/logo__left-wing.svg")
      img.logo__right-wing(src="img/logo__right-wing.svg")
