@import '../../fonts/fonts-templates.scss';
.logo {
     width: calc-size(43);
     height: calc-size(43);
     position: relative;
     margin:0;
     border-radius: 50%;
     border: 3px solid rgba(31, 32, 65, 0.25);
     background: none;
    
      
    }

.logo_color{
   
     width: calc-size(35);
     height: calc-size(35);
     
     background: white;
     border:none;
}
.logo_color:before{
     position:absolute;
     content:'';
     background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
     top: calc-size(-3);
     bottom: calc-size(-3);
     right:calc-size(-3);
     left:calc-size(-3);
     z-index: -1;
     border-radius: 50%;
}
.logo__left-wing {
     position: absolute;
     width: calc-size(15);
     height: calc-size(15);
     top:calc-size(15);
     left:calc-size(9);
  }
.logo__left-wing_color {
     position: absolute;
    
     top:calc-size(12);
     left:calc-size(6);
  }
  .logo__right-wing{
     
     position: absolute;
     top:calc-size(15);
     left:calc-size(22);
     width: calc-size(12);
     height: calc-size(8);
    
}
.logo__right-wing_color{
     
     position: absolute;
     top:calc-size(12);
     left:calc-size(19);
    
}
