@import '../../../fonts/fonts-templates.scss';

.expandable-checkbox__legend{
    cursor: pointer;
    @extend %text-H3;
    margin-bottom:calc-size(9);
    margin-left:calc-size(4);
    margin:0;
    padding:0;
    margin-bottom: calc-size(17);
    width: calc-size(266);
    background: url(expand-more.svg) no-repeat right;
}
.expandable-checkbox__label{
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    @extend %text-Body;
    line-height: calc-size(20);
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: calc-size(10);

}
.expandable-checkbox__checkboxes{
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in 0s;
}
.expandable-checkbox__checkboxes_expanded{
    height: calc-size(280);
}
.expandable-checkbox__input {
    position: absolute;
    z-index: -1;
    opacity: 0;


}
.expandable-checkbox__check{
    margin-right:calc-size(9);
    box-sizing: border-box;
    display: inline-block;
    content: "";
    border: 1px solid rgba(31, 32, 65, 0.25);
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
.expandable-checkbox__input:checked + .expandable-checkbox__check {
    border: 1px solid #BC9CFF;
    background: url(checked.svg) no-repeat center;
}
