mixin radio-buttons
  div.radio-buttons
    label.radio-buttons__label Мужчина
      input.radio-buttons__input(type='radio', name='gender', value='male', checked)
      span.radio-buttons__check
    label.radio-buttons__label Женщина
      input.radio-buttons__input(type='radio', name='gender',  value='female')
      span.radio-buttons__check