@import '../../fonts/fonts-templates.scss';
.room-card{
    width: calc-size(380);;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: calc-size(4);
    padding-top: calc-size(40);
    padding-left: calc-size(29);
    padding-right: calc-size(29);
    padding-bottom: calc-size(30);
}
.room-card__head{
    display: flex;
    justify-content: space-between;
    align-items:baseline ;
    margin-bottom: calc-size(15);
}
.room-card__number-sign,
.room-card__number{
    @extend %text-H1;
}
.room-card__number{
    margin-left:calc-size(3);
    margin-right: calc-size(3);
}
.room-card__number-sign{
    font-size: calc-size(15);
}
.room-card__lux{
    @extend %text-H3;
    color: #BC9CFF;
}
.room-card__price,
.room-card__day,
.room-card__rub-head{
    @extend %text-H3;
    color: rgba(31, 32, 65, 0.5);
}

.room-card__price,
.room-card__rub-head{
    font-size: calc-size(14);
    font-weight: bold;
   
}
.room-card__rub-head{
    margin-right: calc-size(3);
    margin-left: calc-size(2);
}
.room-card__day{
    font-size:calc-size(12);
    font-weight: normal;
    text-transform: lowercase;
}
.room-card__guests-dropdown{
    margin-top: calc-size(21);
    margin-bottom: calc-size(17);
}
.room-card__string,
.room-card__rub{
    @extend %text-Body;
    color: rgba(31, 32, 65, 0.75);
 
}
.room-card__string{
    display:flex;
    justify-content: space-between;
    margin-bottom: calc-size(11);
}
.room-card__day-price{
    font-weight: normal;
    color: rgba(31, 32, 65, 0.75);
}
.room-card__multiplication{
    margin-left: calc-size(5);
    margin-right: calc-size(3);
}
.room-card__line{
    line-height: calc-size(19);
}
.room-card__days{
    margin-left:calc-size(3);
}
.room-card__service-charge{
    white-space: nowrap;
    margin-left:calc-size(5);
    
}
.room-card__service-charge,
.room-card__additional-service
{
    line-height: calc-size(17);
}
.room-card__container{
    display:flex;
    justify-content: space-between;
   
    width: calc-size(239);
}
.room-card__line{
    width:fit-content;
}
.room-card__information{
    width: calc-size(20);
    height: calc-size(20);;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    @extend %text-Body;
    font-weight: bold;
    color: rgba(31, 32, 65, 0.25);
    line-height: calc-size(20);
}
.room-card__final-price{
    display: flex;
    @extend %text-H1;
    font-size: calc-size(19);
    line-height: calc-size(13);
    vertical-align: bottom;
    margin-top: calc-size(35);
    margin-bottom: calc-size(25);
}
.room-card__dashed-line{
   width: 100%;
    border-bottom: 1px dotted rgba(31, 32, 65, 0.25);
   box-sizing: border-box;
   margin-left:calc-size(3);
   margin-right: calc-size(3);
}
.room-card__discounted-price{
    white-space: nowrap;
}
.room-card__string-total{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    
    color: #1F2041;
}