@import '../../fonts/fonts-templates.scss';
.cards__body{
    background-color:rgba(31, 32, 65, 0.05);
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.cards__room{
    margin-left: calc-size(50);
}
.cards__logo{
    margin-left:calc-size(30);
    margin-top:calc-size(30);
}

.cards__components-container{
    display: grid;
    grid-template-columns:  max-content max-content max-content;
    grid-column-gap:calc-size(40);
    max-width: fit-content;
    margin-left:auto;
    margin-right: auto;
    margin-top:calc-size(72);
    margin-bottom: calc-size(72);
}

@media screen and (max-width:1220px){
    .cards__components-container{
       
        grid-template-columns:  max-content max-content ;
        
    }
    .cards__calendar{
        margin-top: calc-size(40);
        margin-right: calc-size(40);
    }
    .cards__third-column{
        grid-column: 1/3;
        display: flex;
        flex-wrap: wrap;
        
    }
}
@media screen and (max-width:800px){
    .cards__components-container{
    grid-template-columns:  1fr;
    }
    .cards__third-column{
        grid-column: 1/2;
       display: block;
    }
}
.cards__registration-container{
    margin-top: calc-size(40);
    margin-bottom: calc-size(40);
    
}
.cards__enter-container{
    margin-top: calc-size(40);
}
.cards__room-container{
    margin-top: calc-size(40);
}