mixin rate-diagram
  .rate-diagram
    p.rate-diagram__title Впечатления от номера
    .rate-diagram__diagram
      .rate-diagram__circle(id="diagram")
        .rate-diagram__lable
          .rate-diagram__lable-text
            p.rate-diagram__total-count 260
            p.rate-diagram__votes голосов
    .rate-diagram__legend
      ul.rate-diagram__list
        li.rate-diagram__list-item.rate-diagram__list-item_great Великолепно
        li.rate-diagram__list-item.rate-diagram__list-item_good Хорошо
        li.rate-diagram__list-item.rate-diagram__list-item_fine Удовлетворительно
        li.rate-diagram__list-item.rate-diagram__list-item_bad Разочарован
      