@import '../../fonts/fonts-templates.scss';
.room{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 5px;
    max-width: calc-size(270);
    max-height: calc-size(257);
    padding-bottom: calc-size(19);

}
.room__carousel {
    position: relative;
    overflow: hidden;
    max-width: inherit;
    height: calc-size(151.5);
    display: block;
    border-radius: 5px 5px 0 0;
  
}
.room__list {
    width: 10000em;
    position: relative;
    list-style: none;
   
  
}
.room__item {
    float: left;
    width: calc-size(270);
    height: calc-size(151);
    background-color: rgba(31, 32, 65, 0.1);
}

.room-control{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
.room__control-prev{
    position: relative;
    z-index: 2;
    height: 100%;
    width: calc-size(42);
    background: url(room__prev.svg) no-repeat center;
    cursor:pointer;
}
  .room__control-next{
    position: relative;
    z-index: 2;
    height: 100%;
    width: calc-size(42);
    background: url(room__next.svg) no-repeat center;
    cursor:pointer;
  }
  .room__pagination{
    position: absolute;
    z-index: 2;
    bottom: calc-size(11);
    right: calc-size(15);
  }
  .room__page{
    box-sizing:border-box;
   
   display: inline-block;
  
   width: calc-size(7.5);
   height: calc-size(7.5);
   border: 1px solid #FFFFFF;
   border-radius: 50%;
   margin-left: calc-size(4);
   filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
  }
  .room__page_active{
      background-color: white;
  }
  .room__information{
    padding-left: calc-size(20);
    padding-right: calc-size(17);
  }
  .room__number-and-price{
      display:flex;
      justify-content: space-between;
      margin-top:calc-size(20);
      margin-bottom: calc-size(8);
  }
  .room__number-sign{
    @extend %text-H2;
    font-size:calc-size(15);
  
}
.room__number{
    @extend %text-H2;
    margin-left:calc-size(3);
    margin-right: calc-size(4);
  
}
.room__lux{
    @extend %text-H3;
    color: #BC9CFF;
}
.room__room-price{
    display:flex;
    align-items: center;
}

.room__price-per-day,
.room__rub{
    @extend %text-H3;
    color: rgba(31, 32, 65, 0.5);
    font-size:calc-size(14);
    line-height: calc-size(14);
 
   
}
.room__rub{
    margin-right: calc-size(5);
}
.room__day{
    @extend %text-Body;
    color: rgba(31, 32, 65, 0.5);
    font-size: calc-size(12);
    line-height: calc-size(15);
}
.room__rating-and-reviews{
    display:flex;
    justify-content: space-between;
    align-items:center ;
    box-sizing: border-box;
    padding-top: calc-size(9);
    border-top: 1px solid rgba(31, 32, 65, 0.1); 
}
.room__rating{
    margin-left:calc-size(2);
}
.room__reviews{
    @extend %text-Body;
    color: rgba(31, 32, 65, 0.5);
}
.room__reviews-number{
    font-weight: bold;
}
.room__reviews-string{
    margin-left: calc-size(3);
    margin-right: calc-size(4);
}